@import '../../../../styles/app';

.dropdownMenu{
    width:250px;
    height:100%;
    font-size:10.5px;
    background-color: #150144;

    .ClassComponent{
        width:250px;
        height:auto;
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        align-items:center;
        margin:2.5px 0;
        
    }
    .SubClass{
        margin-left:10px;
        display:flex;
        flex-direction: row;
        justify-content:space-around;
        align-items:center;
        width:230px;
        height:30.5px;
        font-size:10.5px;
    }
}