@import '../../styles/app';

.root {
  height: 100%;
  position: relative;
}

.wrap {
  position: relative;
  min-height: 100vh;
  transition: left $sidebar-transition-time ease-in-out;
  
  @media print {
    margin: 0;
  }

  @media (max-width: breakpoint-max(sm)) {
    margin-left: 0;
    left: 0;
  }

  /* :global(.sidebar-right) & {
    margin-left: 0;
    margin-right: $sidebar-width-open;
  }

  :global(.sidebar-hide) & {
    margin: 0;
  } */
  .content {
    position: relative;
    flex-grow: 1;
    padding: 0px;
    display:flex;
    flex-direction:row;
    justify-content: center;
  }
}


