@import '../../styles/app';

.canvasWrap{
    position:absolute;
    margin-left:50px;
    width:1650px;
    height:1000px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    div{
        width: 720px;
        height:auto;
        .canvas{
            border:1px solid #000;
            width:720px;
            height:1000px;
            background-color: #fff;
        }
    }
    
}

