@import '../../../styles/app';
$Collapse_top:0px;
$Collapse_left:50.5px;
    .headerLink {
        /* overflow-x: hidden; */
        width:100%;
        @media (min-width: map_get($grid-breakpoints, lg)) and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
            font-size: $font-size-base;
        }

        &:last-child > a {
            border-bottom: 1px solid $sidebar-item-border-color;
        }

        > a {
            position: relative;
            display:flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-top: 1px solid $sidebar-item-border-color;
            white-space: nowrap;
            border-radius: .25rem;
            width:100%;
            &:hover {
                background-color: $sidebar-item-hover-bg-color;
            }
        }

        .selected{
            background-color:  $sidebar-item-hover-bg-color;
        }

        .icon {
            display:inline-block;
            height: 15.5px;
            width: 15.5px;
            text-align: center;
          }

        .spanText {
            display:inline-block;
            line-height: 31.5px;;
            font-size:15.5px;
            color: #fff;
        }
    }


    .panel {
        border: none;
        box-shadow: none;
        margin: 0;
        border-radius: 0;
        color: white;
        background-color: rgba(18, 20, 43, 0.42);

        a.headerLinkActive {
            font-size: 1rem;
            font-weight: $font-weight-semi-bold;
            color: $sidebar-color;
        }

        ul {

            li {
                list-style: none;
            }

            a {
                padding:10px;
                font-size: $font-size-base;
                font-weight: $font-weight-normal;

                &:hover {
                    background-color: $sidebar-item-hover-bg-color;
                }
                &:active{
                    background-color: $sidebar-item-hover-bg-color;
                }
            }
        }
    }

    .color_picker_panel{
        width:auto;
        position: absolute;
        top: 0;
        left: 105.5%;
        background: #0f0544;
        border-radius: 15.5px;
        z-index:15;
        border: none;
        box-shadow: none;
        margin: 0;
        color: white;

        a.headerLinkActive {
            font-size: 1rem;
            font-weight: $font-weight-semi-bold;
            color: $sidebar-color;
        }

        ul {

            li {
                list-style: none;
            }

            a {
                font-size: $font-size-base;
                font-weight: $font-weight-normal;
                &:hover {
                    background-color: $sidebar-item-hover-bg-color;
                }
            }
        }
    }

    .ControllBold_wrap{
        position:absolute;
        top:0;
        left:105.5%;
        z-index:15;
        width:40px;
        height:312px;
        background: #0f0544;
        /*align-items: center; */
        background-color: transparent;
        .cylinder{
            display:flex;
            flex-direction: column-reverse;
            width:40px;
            height:312px;
            overflow: hidden;
            border:1px solid  #0f0544;
            border-radius: 15.5px;
            background-color: #fff;
            box-sizing: content-box;
            .gage{
                width:100%;
                background-color: #0f0544;
            }
        }
    }
    
  